.control-layout {
    height: 100%;

    .layout-wrapper {
        padding: 10px;
    }
}

$color: #fff;
.control-input {
    input {
        width: 200px;
        display: block;
        border: none;
        padding: 10px 0;
        border-bottom: solid 1px $color;
        transition: all 0.3s cubic-bezier(.64, .09, .08, 1);
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $color 4%);
        background-position: -200px 0;
        background-size: 200px 100%;
        background-repeat: no-repeat;
        color: darken($color, 20%);

        &::-webkit-input-placeholder {
            transition: all 0.3s ease-in-out;
        }
        &:focus,
        &:valid {
            box-shadow: none;
            outline: none;
            background-position: 0 0;

            &::-webkit-input-placeholder {
                color: $color;
                font-size: 11px;
                transform: translateY(-20px);
                visibility: visible !important;
            }
        }
    }
}

/* .slideOne */
.slideOne {
    width: 50px;
    height: 10px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

    label {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: -3px;
        left: -3px;
        cursor: pointer;
        background: #fcfff4;
        background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        border-radius: 50px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        transition: all 0.4s ease;
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked+label {
            left: 37px;
        }
    }
}
/* end .slideOne */
$activeColor: #27ae60;
/* .slideTwo */
.slideTwo {
    width: 80px;
    height: 30px;
    background: #333;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

    &:after {
        content: '';
        position: absolute;
        top: 14px;
        left: 14px;
        height: 2px;
        width: 52px;
        background: #111;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
    }

    label {
        display: block;
        width: 22px;
        height: 22px;
        cursor: pointer;
        position: absolute;
        top: 4px;
        z-index: 1;
        left: 4px;
        background: #fcfff4;
        border-radius: 50px;
        transition: all 0.4s ease;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

        &:after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 6px;
            left: 6px;
            background: #333;
            border-radius: 50px;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 1), 0px 1px 0px rgba(255, 255, 255, 0.9);
        }
    }

    input[type=checkbox] {
        visibility: hidden;

        &:checked+label {
            left: 54px;

            &:after {
                background: $activeColor;
                /*activeColor*/
            }
        }
    }
}

/* end .slideTwo */