<ui-layout class="control-layout">
  <div class="layout-wrapper">
    <ui-card>
      <div class="control-input">
        <input placeholder="Speed"
          type="number"
          min="0"
          max="250"
          [value]="currentSpped$ | async"
          (change)="onSpeedChange($event.target.value)" />
        <ui-checkbox type="switch-two"
          [checked]="manualMode$ | async"
          (checkedChange)="onModeChange($event)"
        ></ui-checkbox>
      </div>
      <div class="control-input">
        <input placeholder="Temperature"
          type="number"
          [value]="currentTemp$ | async" />
          <ui-button (click)="onCheckTemp()"
          >Check</ui-button>
      </div>
      <div class="control-input">
        <input placeholder="Frequency"
          type="number"
          [value]="currentFreq$ | async" />
          <ui-button (click)="onCheckFreq()"
          >Check</ui-button>
      </div>
    </ui-card>
  </div>
</ui-layout>
