<mat-tab-group (selectedIndexChange)="activeTab$.next($event)">
  <mat-tab label="Actions">
    <adm-server-manager></adm-server-manager>
  </mat-tab>
  <mat-tab label="DB editor">
    <adm-db-editor *ngIf="isDBEditor$ | async"></adm-db-editor>
  </mat-tab>
  <mat-tab label="Parsers">
    <adm-source-parser *ngIf="isSourceParser$ | async"></adm-source-parser>
  </mat-tab>
  <mat-tab label="Applications">
    <adm-threads-manager *ngIf="isApplications$ | async"></adm-threads-manager>
  </mat-tab>
</mat-tab-group>