<div class="nc-card">
    <div>
        <a href="{{href}}">
            {{title}} rating {{rating}}
        </a>
    </div>
    <div>
        <img src="{{imgSrc}}">
    </div>
    <div>
        <a *ngFor="let link of links"
            class="file-link"
            href="{{link}}">
            <div class="file-link__text">
                {{fileExt(link)}}
            </div>
        </a>
    </div>
    <div>
        {{genre}}
    </div>
    <div>
        {{quality}}
    </div>
    <div>
        {{year}}
    </div>
</div>
    
    