<div class="nc-card">
    <div class="nc-card__title">
        <a class="nc-card__title--ref"
            href="{{href}}">
            {{title}}
        </a>
        <span class="nc-card__title--rating">
            rating {{rating}}
        </span>
    </div>
    <div class="nc-card__content">
        <div class="nc-card__content--img">
            <img src="{{imgSrc}}">
        </div>
        <div class="nc-card__content--description">
            {{description}}
        </div>
    </div>
    <div>
        <a *ngFor="let link of links"
            class="file-link"
            target=”_blank”
            href="{{link}}">
            <div class="file-link__text">
                {{fileExt(link)}}
            </div>
        </a>
    </div>
    <div>
        {{genre}}
    </div>
    <div>
        {{quality}}
    </div>
    <!-- <div>
        {{year}}
    </div> -->
</div>
    
    