<div class="movies-container">
  <div class="movies-container__pages">
    <pagination-controls
      class="my-pagination"
      id="common"
      (pageChange)="onPageChange($event)"
    ></pagination-controls>
  </div>
  <div class="movies-container__search">
    <input #titleInput
      (change)="onSearch($event.target.value)" />
    <input #yearInput
      (change)="onYearSearch($event.target.value)" />
    <input #actorInput
      (change)="onActorSearch($event.target.value)" />
    <input #genreInput
      (change)="onGenreSearch($event.target.value)" />
  </div>
  <ui-overlay #content class="movies-container__content">
    <div class="movies-container__content--grid">
        <ng-content></ng-content>
    </div>
  </ui-overlay>
</div>