<div class="movies-container">
    <div class="movies-container__header">
        <div class="movies-container__pages">
            <pagination-controls class="list-pagination"
                id="common"
                [maxSize]="10"
                (pageChange)="onPageChange($event)"
            ></pagination-controls>
        </div>
        <div class="movies-container__search">
            <nc-movie-search
                [searchType]="searchType"
                [searchValue]="searchValue"
                (search)="onSearch($event)"
            ></nc-movie-search>
            <nc-movie-sort
                [sort]="sortType"
                (sortChange)="onSortChange($event)"
            ></nc-movie-sort>
        </div>    
    </div>
    <div class="movies-container__overlay">
        <div class="movies-container__filters">
            <a *ngFor="let filter of filterList"
                class="filters--ref"
                [href]="filter.link">
                {{filter.title}}
            </a>
            <div class="filters-title">Жанры</div>
            <a *ngFor="let genre of genreList"
                class="filters--ref"
                [href]="genre.link">
                {{genre.title}}
            </a>
        </div>
        <ui-overlay #content
            class="movies-container__content">
            <div class="movies-container__content--grid">
                <ng-content></ng-content>
            </div>
        </ui-overlay>
    </div>
</div>