/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    margin: 0;
    padding: 0;

    .adml-code-editor {
        height: 100%;
        .editor-container {
            height: calc(100vh - 150px);
        }
    }

    .mat-tab-group {
        height: 100%;
        .mat-tab-body-wrapper {
            height: 100%;
        }
    }

    .adml-progress-bar {
        position: absolute;
    }

    [hidden] {
        display: none !important;
    }
}