/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;

    .nc-code-editor {
        .editor-container {
            height: calc(100vh - 100px);
        }
    }

}
