<ui-card class="nc-card">
    <div class="nc-card__title">
        <a class="nc-card__title--ref"
            href="{{href}}">
            {{title}}
        </a>
        <mat-select *ngIf="sourceList?.length"
            class="nc-card__title--source"
            [value]="currentSource"
            (valueChange)="onSourceChange($event)">
            <mat-option *ngFor="let source of sourceList"
                [value]="source">{{source}}</mat-option>
        </mat-select>
        <span class="nc-card__title--rating">
            rating {{rating}}
        </span>
    </div>
    <div class="nc-card__content">
        <div class="nc-card__content--img">
            <img src="{{imgSrc}}">
        </div>
        <ui-overlay class="nc-card__content--description">
            {{description}}
        </ui-overlay>
    </div>
    <div class="nc-card__links">
        <ui-button
            (click)="onWatch()">
            Watch
        </ui-button>
    </div>
    <div>
        {{genre}}
    </div>
    <div>
        {{quality}}
    </div>
</ui-card>
