<div class="nc-card">
    <div class="nc-card__title">
        <a class="nc-card__title--ref"
            href="{{href}}">
            {{title}}
        </a>
        <span class="nc-card__title--rating">
            rating {{rating}}
        </span>
    </div>
    <div class="nc-card__content">
        <div class="nc-card__content--img">
            <img src="{{imgSrc}}">
        </div>
        <div class="nc-card__content--description">
            {{description}}
        </div>
    </div>
    <div>
        <button *ngIf="!(hasLinks$ | async)"
            (click)="onSearchFiles()">Search</button>
        <ng-container *ngIf="hasLinks$ | async">
            <a *ngFor="let link of links$ | async"
                class="file-link"
                target=”_blank”
                href="{{link}}">
                <div class="file-link__text">
                    {{fileExt(link)}}
                </div>
            </a>
        </ng-container>
    </div>
    <div>
        {{genre}}
    </div>
    <div>
        {{quality}}
    </div>
    <!-- <div>
        {{year}}
    </div> -->
</div>
    
    