:host {
  display: block;
  margin: 10px auto;
  min-width: 540px;
  width: 80%;
  // height: 415px;
  background: transparent;
  border-radius: 8px;

  .nc-card {
    color: inherit;
    // overflow: hidden;
    height: 100%;

    &__title {
      display: flex;
      margin-bottom: 10px;

      &--ref {
        color: inherit;
        max-width: 300px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      &--source {
        width: 120px;
        margin-left: auto;
        font-family: inherit;
      }
      &--rating {
        margin-left: auto;
        text-transform: uppercase;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;

      &--img {
        padding: 10px 0;
        width: 200px;
        height: 300px;
        overflow: hidden;

        img {
          width: 200px;
        }
      }

      &--description {
        flex: 1;
        overflow: auto;
        padding: 10px;
        max-height: 300px;
      }
    }

    &__links {
      text-transform: uppercase;
      overflow: hidden;

      &--errors {
        overflow: hidden;
        white-space: nowrap;
        color: #c60000;
      }
    }
  }

  .file-link {
    text-align: center;
    color: #fff;

    &__text {
      width: 40px;
      display: inline-block;
      background: #171717;
      border-radius: 1px;
      margin: 2px;

      &:hover {
        background: #000;
      }
    }
  }

}
