<ui-card>
    <mat-card class="pipe-card">
        <mat-card-header>
            <mat-card-title>{{pipe}}</mat-card-title>
            <span class="toolbar-spacer"></span>
            <span>bat: {{batteryPerc$ | async}}%</span>
            <span>({{batteryVolt$ | async}}V)</span>
            <span class="toolbar-spacer"></span>
            <span>RSSI:{{rssiDB$ | async}}db</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button
                [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </mat-card-header>
        <prb-chart>
            <!-- <ng-container *ngIf="tempData$ | async as tempData else loader"> -->
                <prb-chart-glow
                    id="glow"
                ></prb-chart-glow>
                <prb-scale-x-time
                    [xTimeStart]="timeStart$ | async"
                    [xTimeEnd]="timeEnd$ | async"
                >
                    <prb-bottom-time-axis></prb-bottom-time-axis>
                    <prb-scale-y-linear
                        [yScaleStart]="10"
                        [yScaleEnd]="30"
                    >
                        <prb-chart-gradient
                            id="temp-gradient"
                            [colorRange]="tempGradient"
                        ></prb-chart-gradient>
                        <prb-chart-line
                            [data]="tempData$ | async"
                            [loadError]="loadError$ | async"
                            stroke="url(#temp-gradient)"
                            filter="url(#glow)"
                            prbChartHint="Temp:"
                            prbChartLoader
                        ></prb-chart-line>
                        <prb-left-axis></prb-left-axis>
                    </prb-scale-y-linear>
                    <prb-scale-y-linear
                        [yScaleStart]="20"
                        [yScaleEnd]="100"
                    >
                        <prb-chart-gradient
                            id="hum-gradient"
                            [colorRange]="humGradient"
                        ></prb-chart-gradient>
                        <prb-chart-line
                            [data]="humData$ | async"
                            stroke="url(#hum-gradient)"
                            filter="url(#glow)"
                            prbChartHint="Hum:"
                        ></prb-chart-line>
                        <prb-right-axis></prb-right-axis>
                    </prb-scale-y-linear>
                </prb-scale-x-time>
            <!-- </ng-container> -->
            <!-- <ng-template #loader>
                <prb-chart-loader
                    [data]="undefined"
                ></prb-chart-loader>
            </ng-template> -->
        </prb-chart>
    </mat-card>
</ui-card>
<mat-menu #menu="matMenu">
    <button mat-menu-item
        (click)="delete.emit(pipe)">
        <mat-icon>highlight_off</mat-icon>
        <span>Delete pipe</span>
    </button>
    <button mat-menu-item
        (click)="onUpdate()">
        <mat-icon>cached</mat-icon>
        <span>Update</span>
    </button>
    <button mat-menu-item
        (click)="onUpdateTime(pipe)">
        <mat-icon>schedule</mat-icon>
        <span>Update time</span>
    </button>
    <button mat-menu-item
        (click)="onChangePipe(pipe)">
        <mat-icon>settings_input_antenna</mat-icon>
        <span>Change pipe</span>
    </button>
    <button mat-menu-item
        (click)="onSetPeriod(pipe)">
        <mat-icon>date_range</mat-icon>
        <span>Period</span>
    </button>
    <button mat-menu-item
        (click)="onSetVoltage(pipe)">
        <mat-icon>battery_unknown</mat-icon>
        <span>Voltage</span>
    </button>
    <button mat-menu-item
        (click)="onResetPipe(pipe)">
        <mat-icon>battery_unknown</mat-icon>
        <span>Reset</span>
    </button>
</mat-menu>